force-app/main/default/flows/Contract_Obligations_Summary_For_Agentforce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Contract_Summary</name>
        <label>Generate Contract Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SDO_ContractPromptTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>obligationsSummary</name>
            <value>
                <elementReference>obligationsSummary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_ContractPromptTemplateInvocable</nameSegment>
        <outputParameters>
            <assignToReference>agentResponse</assignToReference>
            <name>agentResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Line_To_Summary</name>
        <label>Append Line To Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Line_Break</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Shown_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Overdue_Flag</name>
        <label>Append Overdue Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lineText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | ⚠️ OVERDUE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Line_To_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Truncation_Message</name>
        <label>Append Truncation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Line_Break</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Truncation_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Contract_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Shown_Count</name>
        <label>Increment Shown Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>shownCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Obligations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Total_Count</name>
        <label>Increment Total Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Include_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Header</name>
        <label>Initialize Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Header_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Obligations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Normalize_Line_Text</name>
        <label>Normalize Line Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lineText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Normalized_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Overdue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Empty_State</name>
        <label>Set Empty State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>obligationsSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No active obligations are currently associated with this contract.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Contract_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Base</name>
        <label>Set Line Base</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lineText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obligation_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Normalize_Line_Text</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>maxItems</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Obligations</name>
        <label>Has Obligations?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Empty_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Obligations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Obligations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Overdue</name>
        <label>Is Overdue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Append_Line_To_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Overdue</defaultConnectorLabel>
        <rules>
            <name>Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Obligations.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Obligations.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Overdue_Flag</targetReference>
            </connector>
            <label>Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Include_Line</name>
        <label>Should Include Line?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Obligations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Include</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shownCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>maxItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_Base</targetReference>
            </connector>
            <label>Include</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Truncated</name>
        <label>Was Truncated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Generate_Contract_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Truncated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>shownCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Truncation_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Header_Text</name>
        <dataType>String</dataType>
        <expression>&quot;Outstanding Obligations (Top &quot; &amp; TEXT({!maxItems}) &amp; &quot;):&quot;</expression>
    </formulas>
    <formulas>
        <name>Line_Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>moreCount</name>
        <dataType>Number</dataType>
        <expression>{!totalCount} - {!shownCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Normalized_Line</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!lineText}, &quot;&amp;#124;&quot;, &quot;|&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Truncation_Message</name>
        <dataType>String</dataType>
        <expression>&quot;+&quot; &amp; TEXT({!moreCount}) &amp; &quot; more obligations not shown&quot;</expression>
    </formulas>
    <interviewLabel>Contract Obligations Summary For Agentforce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Obligations Summary For Agentforce</label>
    <loops>
        <name>Loop_Obligations</name>
        <label>Loop Obligations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Obligations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Total_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Truncated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Obligations</name>
        <label>Get Obligations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Obligations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Obligation</object>
        <sortField>EndDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Obligation_Line</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>- {!Loop_Obligations.Name} | Status: {!Loop_Obligations.Status} | Due: {!Loop_Obligations.EndDate}</text>
    </textTemplates>
    <variables>
        <name>agentResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lineText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obligationsSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shownCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
