force-app/main/default/flows/Grantmaking_Apply_for_Funding_Grid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Period_to_Collection</name>
        <label>Add Period to Collection</label>
        <locationX>506</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>col_PeriodsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NewPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Periods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>476</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>col_CategoriesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NewCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Category_Fields</name>
        <label>Map Category Fields</label>
        <locationX>262</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>var_NewCategory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Categories.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCategory.SequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Categories.SequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCategory.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Budget_Name_Framework</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Period_Fields</name>
        <label>Map Period Fields</label>
        <locationX>263</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>var_NewPeriod.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Periods.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPeriod.PeriodStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Periods.PeriodStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPeriod.SequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Periods.SequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewPeriod.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Budget_Name_Framework</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Period_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Template_Exists</name>
        <label>Check if Template Exists</label>
        <locationX>597</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Does_Funding_Opportunity_Have_Action_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Template</defaultConnectorLabel>
        <rules>
            <name>Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFundingOpportunity.BudgetTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Budget_Name_Framework</targetReference>
            </connector>
            <label>Template Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Funding_Opportunity_Have_Action_Plans</name>
        <label>Does Funding Opportunity Have Action Plans</label>
        <locationX>782</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>GoToIndividualApplicationRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Plan_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFundingOpportunity.ActionPlanTemplate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplateVersion</targetReference>
            </connector>
            <label>Action Plan Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>eiligibilityResults</name>
        <label>eiligibilityResults</label>
        <locationX>1473</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>EligibilityAssessmentOutcomeFailText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_meet_the_stated_organizational_or_individual_applicant_requirements_for_t</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_have_any_active_awards_with_open_or_unresolved_compliance_notices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenEnterOrConfirmAccount</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_Plan_Template_Published</name>
        <label>Is Action Plan Template Published</label>
        <locationX>1011</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>GoToIndividualApplicationRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Plan_Template_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplateVersion.ActionPlanTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateActionPlan</targetReference>
            </connector>
            <label>Action Plan Template Published</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_SuggestApplicationName</name>
        <dataType>String</dataType>
        <expression>{!AccountLookup.recordName} +&quot; - FY28 Project/Program Name&quot;</expression>
    </formulas>
    <formulas>
        <name>fxBudgetDynamicName</name>
        <dataType>String</dataType>
        <expression>&quot;Budget for &quot; + {!Get_New_Application_Details.ApplicationName} +&quot; - &quot;+{!Get_New_Application_Details.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>NewIndividualApplicationLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varNewIndividualApplication}</expression>
    </formulas>
    <interviewLabel>Grantmaking Apply for Funding Grid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grantmaking Apply for Funding Grid</label>
    <loops>
        <name>Loop_Categories</name>
        <label>Loop Categories</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Template_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Category_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Template_Periods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Periods</name>
        <label>Loop Periods</label>
        <locationX>264</locationX>
        <locationY>1030</locationY>
        <collectionReference>Get_Template_Periods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Period_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an Budget based on Budget Template of the Funding Opportunity</description>
        <name>Create_Budget_Name_Framework</name>
        <label>Create Budget Name Framework</label>
        <locationX>55</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Get_Template_Categories</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varNewIndividualApplication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxBudgetDynamicName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </inputAssignments>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Categories</name>
        <label>Create Categories</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Periods</targetReference>
        </connector>
        <inputReference>col_CategoriesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Periods</name>
        <label>Create Periods</label>
        <locationX>586</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Link_Budget_to_Application</targetReference>
        </connector>
        <inputReference>col_PeriodsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates an action plan that’s associated with the individual application. The action plan then generates the associated individual application tasks. The action plan’s required fields are populated based on information on the funding opportunity’s related action plan template.

Make sure that the site user has access to action plan templates and application stage definitions.</description>
        <name>CreateActionPlan</name>
        <label>Create Action Plan</label>
        <locationX>1217</locationX>
        <locationY>920</locationY>
        <connector>
            <targetReference>GoToIndividualApplicationRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetActionPlanTemplateVersion.ActionPlanTemplate.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>varNewIndividualApplication</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an individual application record related to the funding opportunity for this applicant. The individual application is populated with the applicant’s contact and account information and sets the application status to In Progress.

Important: add RecordTypeID as a field and set it to the Grantmaking record type that your admin set up in your org.</description>
        <name>CreateIndividualApplication</name>
        <label>Create Individual Application</label>
        <locationX>1100</locationX>
        <locationY>321</locationY>
        <assignRecordIdToReference>varNewIndividualApplication</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Application_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateIndividualApplicationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationName</field>
            <value>
                <elementReference>Application_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppliedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Grant Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetSiteUserContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingOpportunityId</field>
            <value>
                <elementReference>GetFundingOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalStatus</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Grantmaking_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Grantmaking_Record_Type</name>
        <label>Get Grantmaking Record Type</label>
        <locationX>1196</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSiteUserContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grantmaking</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Application_Details</name>
        <label>Get New Application Details</label>
        <locationX>861</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Template_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewIndividualApplication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Categories</name>
        <label>Get Template Categories</label>
        <locationX>56</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFundingOpportunity.BudgetTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Periods</name>
        <label>Get Template Periods</label>
        <locationX>54</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Periods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFundingOpportunity.BudgetTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the action plan template version associated with the funding opportunity with a status of Final. Based on the action plan template, the flow creates an action plan for this application.

Add Get elements for other records to help to calculate values and populate the individual application for the applicant.</description>
        <name>GetActionPlanTemplateVersion</name>
        <label>Get Action Plan Template Version</label>
        <locationX>1025</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Action_Plan_Template_Published</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFundingOpportunity.ActionPlanTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <sortField>Version</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the funding opportunity record that matches the recordId that&apos;s passed into the flow. 

Add a Decision element to handle when a funding opportunity is missing the lookup to action plan template version.</description>
        <name>GetFundingOpportunity</name>
        <label>Get Funding Opportunity</label>
        <locationX>1753</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grantmaking_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetFundingOpptyError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the site user&apos;s contact ID, if they have one. The flow later enters details related to this contact for Individual application. The element doesn&apos;t work for CRM users.

Add Get elements for other records to help populate the individual application for the applicant.</description>
        <name>GetSiteUserContact</name>
        <label>Get Site User Contact</label>
        <locationX>1437</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibility_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorGettingContactInfo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Budget_to_Application</name>
        <label>Link Budget to Application</label>
        <locationX>644</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Does_Funding_Opportunity_Have_Action_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewIndividualApplication</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BudgetId</field>
            <value>
                <elementReference>Create_Budget_Name_Framework</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <screens>
        <name>CreateIndividualApplicationError</name>
        <label>CreateIndividualApplicationError</label>
        <locationX>1594</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>CreateIndividualApplicationDisplayText</name>
            <fieldText>&lt;p&gt;Issue trying to create individual application record step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eligibility_Assessment</name>
        <label>Eligibility Assessment</label>
        <locationX>1466</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>eiligibilityResults</targetReference>
        </connector>
        <fields>
            <name>EligibilityAssessment</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Eligibility Check (Pre-Screening)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EligibilityTest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Thank you for your interest in {!GetFundingOpportunity.Name}. Please complete all the questions below in order to determine your eligibility to apply.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_meet_the_stated_organizational_or_individual_applicant_requirements_for_t</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Do you meet the stated organizational or individual applicant requirements for this program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_your_organization_have_a_non_discrimination_policy_that_ensures_it_does_not</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Does your organization have a non-discrimination policy that ensures it does not discriminate based on race, ethnicity, color, sex, religion, age, national origin, ancestry, citizenship, sexual orientation, gender identity and/or expression, or disability?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_active_awards_with_open_or_unresolved_compliance_notices</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you have any active awards with open or unresolved compliance notices?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EligibilityAssessmentOutcomeFailText</name>
        <label>EligibilityAssessmentOutcomeFailText</label>
        <locationX>1858</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eligibilityAssessmentFailText</name>
            <fieldText>&lt;p&gt;Thank you for exploring the funding opportunity for &lt;strong&gt;{!GetFundingOpportunity.Name}&lt;/strong&gt;. Based on your responses to the eligibility quiz, you &lt;strong&gt;do not currently qualify&lt;/strong&gt; for funding for this opportunity. Please click here to find out more about what kinds of requests that we do not generally support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please browse our other active funding opportunities.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click here to return to the home page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorGettingContactInfo</name>
        <label>ErrorGettingContactInfo</label>
        <locationX>2650</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;Get Site User Contact Step Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetFundingOpptyError</name>
        <label>GetFundingOpptyError</label>
        <locationX>2914</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</targetReference>
        </connector>
        <fields>
            <name>ErrorScreenApplyforFundingOppty</name>
            <fieldText>&lt;p&gt;Something went wrong with the Apply for Funding Opportunity Step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen has a link to the applicant’s individual application that was created by this flow.

Consider replacing this link with a local action that instead takes the applicant directly to the new individual application.</description>
        <name>GoToIndividualApplicationRecord</name>
        <label>Go to Individual Application Record</label>
        <locationX>971</locationX>
        <locationY>1302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CongratsApplicationStarted</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Congratulations&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;! You&apos;ve taken the first steps towards submitting your application for the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!GetFundingOpportunity.Name} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blanksegment</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApplicationGuidanceHeaderSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Application Guidance &amp;amp; Next Step:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetFundingOpportunity.ActionPlanTemplate.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetFundingOpportunity.BudgetTemplate.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FormFrameworkGuidance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Form Framework:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To make your application process as smooth as possible, we’ve organized your form into clear, guided sections. Based on the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!GetFundingOpportunity.ActionPlanTemplate.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;requirements, you&apos;ll only see the steps and questions specifically needed for this grant.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetFundingOpportunity.ActionPlanTemplate.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTextSeperator</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BudgetManagementContext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Budget Management:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This program requires budget alignment with specific &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!GetFundingOpportunity.BudgetTemplate.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; standards. We’ve built these requirements directly into your application page to ensure your budget categories and periods meet all eligibility guidelines.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetFundingOpportunity.BudgetTemplate.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BudgetManagementGuidance</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DemoNoteforSEs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;To finish and submit, click on &lt;/span&gt;&lt;a href=&quot;{!NewIndividualApplicationLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;Application home page&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user.

This generic error is used throughout the flow template. Add other Decision elements or Error screens to detail specific failure reasons, ways to fix the issues, or how to contact your organization for help.

Keep in mind the pause button is hidden on this screen. When something goes wrong, the user needs to restart the flow from the beginning.</description>
        <name>ScreenDisplayErrorCreateIndividualApplicationOrActionPlan</name>
        <label>Display Error</label>
        <locationX>1330</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateIndividualApplicationOrActionPlanErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Final Step, Something went wrong and we can’t create your application. Try applying again or contact us for help.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Prompts the flow user to confirm or enter the account that’s applying for funding. Add additional fields for the individual application as needed.

This is the last screen before the user is redirected to the individual application. Consider adding elements to configure the new application record before the user is sent to the application. For example, add flow elements for Compliant Data Sharing participant records so the applicant can collaborate with others.

Keep in mind the pause button is hidden on this screen. When something goes wrong, the user needs to restart the flow from the beginning.</description>
        <name>ScreenEnterOrConfirmAccount</name>
        <label>Enter or Confirm Account</label>
        <locationX>1278</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateIndividualApplication</targetReference>
        </connector>
        <fields>
            <name>Funding_Opp_Context</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Grant you are applying for: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!GetFundingOpportunity.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTextBlank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Organization_Contact_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Step 1: Verify (or search) Your Organization and Primary Applicant Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organization Applying for Funding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetSiteUserContact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IndividualApplication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact for Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>IndividualApplication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetSiteUserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayTextBlank1</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Define_Application_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Step 2: Accept/Modify Your Unique Application Name &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Tip:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; Most applicants name their application related to their proposed project or based on their specific program / location &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;(e.g., &apos;FY28 Community Center Project - North District&apos;)&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Application_Name_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fx_SuggestApplicationName</elementReference>
            </defaultValue>
            <fieldText>Give your Application a Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;You can always update this later before submitting your application.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>grantmk__ApplyForFundingOpportunity</sourceTemplate>
    <start>
        <locationX>1336</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetFundingOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This hyperlink sends users to their new individual application.</description>
        <name>HyperlinkToIndividualApplication</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;a href=&quot;/{!CreateIndividualApplication}&quot; target=&quot;_self&quot;&gt;Go to your application&lt;/a&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TempBudgetName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Temp Budget Name&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_CategoriesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>col_PeriodsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetPeriod</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the funding opportunity record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>var_NewPeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetPeriod</objectType>
    </variables>
    <variables>
        <description>Newly created Individual Application Id</description>
        <name>varNewIndividualApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
