force-app/main/default/flows/ngo_Slack_Org_Connector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Brix_Recipe_Integrate_Slack</name>
        <label>Brix Recipe: Integrate Slack</label>
        <locationX>119</locationX>
        <locationY>817</locationY>
        <actionName>RecipeFlowDeployer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recipeAlias</name>
            <value>
                <stringValue>GPS-ABC-Slack</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecipeFlowDeployer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_records</name>
        <label>Are there records?</label>
        <locationX>817</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>waitScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Custom_Metadata</targetReference>
            </connector>
            <label>Yes records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_been_updated</name>
        <label>Has Email been updated?</label>
        <locationX>576</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>introScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>next-gen-demo-orgs-bulk@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>storm@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailScreen</targetReference>
            </connector>
            <label>Default Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Real_or_Placeholder</name>
        <label>Real or Placeholder?</label>
        <locationX>875</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Placeholder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Slack Orgs Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noOrgScreen</targetReference>
            </connector>
            <label>Placeholder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Slack Org Connector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack Org Connector</label>
    <loops>
        <name>Loop_through_Custom_Metadata</name>
        <label>Loop through Custom Metadata</label>
        <locationX>677</locationX>
        <locationY>715</locationY>
        <collectionReference>Get_Custom_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Real_or_Placeholder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Setting</name>
        <label>Create Custom Setting</label>
        <locationX>428</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Brix_Recipe_Integrate_Slack</targetReference>
        </connector>
        <inputAssignments>
            <field>Slack_Org_Name__c</field>
            <value>
                <elementReference>table.firstSelectedRow.Label</elementReference>
            </value>
        </inputAssignments>
        <object>Slack_Org_Id__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>1384</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Slack_Org_IDs__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_email</name>
        <label>Update user email</label>
        <locationX>50</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>emailCheckScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Work_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>116</locationX>
        <locationY>1014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debugText</name>
            <fieldText>&lt;p&gt;Your integration is off and running! There will still be another 5-10 minutes of processing time, but after waiting you can see the results by &lt;a href=&quot;/lightning/setup/SlackWorkspaces/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;navigating to the Manage Slack Connection Setup page.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this has finished, your integration user will have updated permissions to create Slack channels on industry objects!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>emailCheckScreen</name>
        <label>emailCheckScreen</label>
        <locationX>223</locationX>
        <locationY>336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Email_been_updated</targetReference>
        </connector>
        <fields>
            <name>emailCheckText</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;✅ Almost There! Let&apos;s Confirm Your Email&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;Great! A verification email from Salesforce is now on its way to your inbox.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Here&apos;s what to do:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Find the Email&lt;/strong&gt; 🔍 Pop over to your inbox and look for an email with a subject like &quot;Verify your email change&quot;.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Click the Link&lt;/strong&gt; 🖱️ Open it and click the confirmation link inside. This proves you&apos;re the owner.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Refresh This Flow&lt;/strong&gt; 🔄 Return to this screen and click the &lt;strong&gt;Retry&lt;/strong&gt; button below. We&apos;ll verify the change and get you on your way!&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>emailScreen</name>
        <label>emailScreen</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_user_email</targetReference>
        </connector>
        <fields>
            <name>emailInstructions</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;👋 One Quick Thing Before We Start...&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;We need to make sure your user profile is connected to a working &lt;code&gt;@salesforce.com&lt;/code&gt; email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Need to create a unique email for this environment?&lt;/strong&gt; No problem! You can use a handy trick by adding a &lt;code&gt;+&lt;/code&gt; and any text to your current email. All mail will be delivered to your primary inbox.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;For example:&lt;/strong&gt; Emails sent to &lt;code&gt;&lt;em&gt;astro+MyTraining@salesforce.com&lt;/em&gt;&lt;/code&gt; will go directly to the &lt;code&gt;&lt;em&gt;astro@salesforce.com&lt;/em&gt;&lt;/code&gt; inbox.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Action Plan:&lt;/strong&gt; 👇&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Update Your Email Here&lt;/strong&gt; Enter your desired &lt;code&gt;@salesforce.com&lt;/code&gt; email in the field on this screen.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Verify in Your Inbox&lt;/strong&gt; Pop over to your email inbox. You&apos;ll find a message from Salesforce—click the verification link inside. 📧&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Come Back &amp;amp; Continue&lt;/strong&gt; Once that&apos;s done, return here and click the &lt;strong&gt;Retry&lt;/strong&gt; button on the next screen to verify the change. We&apos;ll take care of the rest!&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$User.Email</elementReference>
            </defaultValue>
            <fieldText>Work Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>introScreen</name>
        <label>introScreen</label>
        <locationX>526</locationX>
        <locationY>426</locationY>
        <actions>
            <name>Subflow_Update_Slack_Org_Ids</name>
            <actionName>Subflow_Update_Slack_Org_Ids</actionName>
            <actionType>flow</actionType>
            <label>Subflow: Update Slack Org Ids</label>
            <nameSegment>Subflow_Update_Slack_Org_Ids</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;h3&gt;👋 &lt;strong&gt;Welcome to the Slack Org Connector!&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;Let&apos;s get you demo-ready. With this tool, &lt;strong&gt;you can go from zero to a full Slack demo in just a few minutes&lt;/strong&gt;!&lt;/p&gt;&lt;h4&gt;&lt;br&gt;&lt;/h4&gt;&lt;h4&gt;&lt;strong&gt;✅ Your Pre-Flight Checklist&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;We just need to make sure you have one thing ready to go: A &lt;strong&gt;Slack demo org&lt;/strong&gt; connected to your Salesforce email.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Don&apos;t have a Slack demo org yet?&lt;/strong&gt; No problem! It&apos;s a quick process. Head over to  &lt;a href=&quot;https://salesforce.enterprise.slack.com/docs/T01G0063H29/F06HGF38RQC&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;the Demo Zone Canvas&lt;/strong&gt;&lt;/a&gt; to claim your free org. We&apos;ll be right here when you get back!&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Already have one (or more)?&lt;/strong&gt; Perfect! You&apos;re ready to go.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Not sure if you do? &lt;/strong&gt;Continue with this flow, and the next step will check if you have any.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;💡 &lt;strong&gt;Pro-Tip:&lt;/strong&gt; You can reuse the same Slack environment for multiple demos, so you only have to do this once.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ready to connect? Click &lt;strong&gt;Next&lt;/strong&gt; to get started!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>introScreen</eventSource>
            <handlers>
                <screenActionName>Subflow_Update_Slack_Org_Ids</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>noOrgScreen</name>
        <label>noOrgScreen</label>
        <locationX>1162</locationX>
        <locationY>789</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noOrgsText</name>
            <fieldText>&lt;p&gt;Oops, looks like there aren&apos;t any Slack orgs connected to your email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://app.slack.com/client/E7T5PNK3P/unified-files/doc/F0930VCC2UT&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Check out this canvas&lt;/strong&gt;&lt;/a&gt; for instructions on how to claim a Slack demo org, and then restart this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>749</locationX>
        <locationY>1066</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Custom_Setting</targetReference>
        </connector>
        <fields>
            <name>chooseOrgText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;These are the Slack demo orgs assigned to your account. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Select which one should be connected to this IDO. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;After clicking &apos;Next&apos;, there will be 1-2 minutes of waiting as the integration is started.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Slack_Org_IDs__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Custom_Metadata</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-df98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Label&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>waitScreen</name>
        <label>waitScreen</label>
        <locationX>1384</locationX>
        <locationY>687</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
        <fields>
            <name>waitInfo</name>
            <fieldText>&lt;p&gt;Sync is still in process, wait ~30 seconds before continuing...&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you did not create a Slack demo org before starting this process, this step will never finish. Visit &lt;a href=&quot;https://salesforce.enterprise.slack.com/docs/T01G0063H29/F06HGF38RQC&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;the Slack Demo Zone canvas&lt;/strong&gt;&lt;/a&gt; to claim a Slack org, and then restart this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>727</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Has_Email_been_updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
