force-app/main/default/flows/PublicSector__Emergency_Supplies_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Address_Record</name>
        <label>Assign Address Record</label>
        <locationX>821</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>AddressRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Record</name>
        <label>Assign Application Record</label>
        <locationX>887</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>SubmittedApplication.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.LicenseTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>License</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Associated_Address</name>
        <label>Assign Associated Address</label>
        <locationX>782</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord.VisitorAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Record</name>
        <label>Assign Case Record</label>
        <locationX>349</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Emergency Supplies Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Emergency Supplies Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emergency_Request</name>
        <label>Assign Emergency Request</label>
        <locationX>1049</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__DeliveryInstructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryInstructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__DeliverySafetyConcerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliverySafetyConcerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__PrimaryContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__PrimaryContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__HandSanitizerQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HandSanitizerQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__GownsQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GownsQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__IndividualApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmittedApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__OrganizationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganizationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__OrganizationAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganizationAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__OrganizationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganizationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__PrimaryContactTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContactTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__SecondaryContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__SecondaryContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__SecondaryContactTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContactTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__DisinfectantQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisinfectantQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__GlovesQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GlovesQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__MasksQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaskQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__FaceShieldsQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FaceShieldsQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__RespiratorN95MaskQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespiratorN95Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__GogglesQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GogglesQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__VentilatorQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VentilatorQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__ViralSwabsQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ViralSwabsQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__DateRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__RequestorName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.PublicSector__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyRequestRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Emergency_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location</name>
        <label>Assign Location</label>
        <locationX>552</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <description>Creates an application and related records for an emergency supplies request.</description>
    <dynamicChoiceSets>
        <name>OrganizationTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__OrganizationType__c</picklistField>
        <picklistObject>PublicSector__EmergencyRequest__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>getUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Emergency Supplies Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Emergency Supplies Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>905</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Assign_Associated_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>AddressRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>866</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Assign_Emergency_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>SubmittedApplication</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>519</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Emergency_Request</name>
        <label>Create Emergency Request</label>
        <locationX>1180</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Get_Application_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>EmergencyRequestRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>726</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Assign_Address_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>LocationRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Id</name>
        <label>Get Application Id</label>
        <locationX>1065</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmittedApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>51</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>658</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency_Supplies_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Type</name>
        <label>Get Service Type</label>
        <locationX>758</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Application_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency PPE Supply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryAuthorizationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>201</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location_Record</name>
        <label>Update Location Record</label>
        <locationX>497</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Assign_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Supplies_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>LocationRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1031</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Your application &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Application_Id.Name} was&lt;/span&gt; submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Contact_Details</name>
        <label>Delivery Contact Details</label>
        <locationX>429</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requested_Items</targetReference>
        </connector>
        <fields>
            <name>Delivery_Location_Contact</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Who do we contact at the delivery location?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Contact_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Primary Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryContactName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PrimaryContactTitle</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PrimaryContactPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!PrimaryContactPhone}, &quot;(\\d){4,10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Secondary_Contact_Details</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Secondary Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecondaryContactName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecondaryContactTitle</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecondaryContactPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!SecondaryContactPhone}, &quot;(\\d){4,10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>353</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delivery_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Delivery_Location_Contact_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;How do we get supplies delivered to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <fieldText>Delivery Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State_Province</name>
            <dataType>String</dataType>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>ZIP/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliveryInstructions</name>
            <fieldText>Additional Delivery Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliverySafetyConcerns</name>
            <fieldText>Delivery Health and Safety Concerns</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Supplies_Request_Error_Page</name>
        <label>Emergency Supplies Request Error Page</label>
        <locationX>72</locationX>
        <locationY>979</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;Hmm, that didn’t work. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_By_Information</name>
        <label>Need By Information</label>
        <locationX>665</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Location</targetReference>
        </connector>
        <fields>
            <name>Need_By_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;When do you need the supplies?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Please provide the estimated date as to when you need these supplies.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DateRequired</name>
            <dataType>Date</dataType>
            <fieldText>Date Required</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;MMM d, yyyy&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Organization_Details</name>
        <label>Organization Details</label>
        <locationX>214</locationX>
        <locationY>325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requestor_Details</targetReference>
        </connector>
        <fields>
            <name>Information_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;At this time all medical providers should be implementing crisis capacity strategies to conserve emergency supplies. Please submit your request below.&amp;nbsp; We will attempt to provide what is possible based on our inventory.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Organization_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;For whom are your requesting emergency supplies?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Provide information about your organization.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganizationName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OrganizationAddress</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OrganizationType</name>
            <choiceReferences>OrganizationTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Requested_Items</name>
        <label>Requested Items</label>
        <locationX>553</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Need_By_Information</targetReference>
        </connector>
        <fields>
            <name>Items_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;What items are you requesting?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 10pt; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;Please provide the quantity of each item you’re requesting.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisinfectantQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Disinfectant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>GlovesQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Gloves (Surgical or Exam)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>GownsQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Gowns (Surgical or Exam)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>HandSanitizerQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Hand Sanitizer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MaskQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Masks (Surgical or Exam)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FaceShieldsQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Face Shields</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RespiratorN95Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Respirators (N95 Masks)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>GogglesQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Safety/Protective Goggles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>VentilatorQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Ventilators</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ViralSwabsQuantity</name>
            <dataType>Number</dataType>
            <fieldText>Viral Swabs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Requestor_Details</name>
        <label>Requestor Details</label>
        <locationX>272</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delivery_Details</targetReference>
        </connector>
        <fields>
            <name>Information_Header_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;What is your contact information?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requestor_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requestor_Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requestor_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Requestor_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z-]{1,}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Requestor_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Requestor_Phone}, &quot;(\\d){4,10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EmergencyRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PublicSector__EmergencyRequest__c</objectType>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>PersonRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmittedApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
</Flow>
