force-app/main/default/flows/PublicSector__Request_a_Reopening_Permit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_case</name>
        <label>assign case</label>
        <locationX>2217</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.ApplicationCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Final_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_values</name>
        <label>Assign case values</label>
        <locationX>2045</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>raw_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request a Reopening Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_count_value</name>
        <label>assign count value</label>
        <locationX>565</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>var_matching_account_record_count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_existing_business_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Account</name>
        <label>Assign to Account</label>
        <locationX>561</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>raw_business_account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_profile.BusinessTaxIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_matching_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_BLA</name>
        <label>Assign to BLA</label>
        <locationX>412</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__ReopeningPermitType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reopening_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__ReopeningDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reopening_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.LicenseTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Input_Regulatory_Authorisation_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.BusinessTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_or_Organization_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_type_for_Reopening_Permit_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_BLA3</name>
        <label>Assign to BLA3</label>
        <locationX>1646</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__CoordinatorName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coordinator_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__CoordinatorTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__CoordinatorPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__CoordinatorEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_business_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reopening_Permit_Request_Scr4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_BLA4</name>
        <label>Assign to BLA4</label>
        <locationX>1875</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__HasSocialDistancingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_distancing_to_ensure_at_least_six_feet_between_employees_and_customers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__HasPersonalProtectiveEquipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_protective_equipment_PPE_for_employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__HasEmployeeScreeningPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_temperature_and_health_screening</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__HasFacilitySanitationPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cleaning_and_sanitation_of_high_traffic_commonly_used_surfaces</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__HasVulnerablePopulationPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vulnerable_population_accommodations_such_as_special_hours_for_seniors_or_medica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_your_plan_for_social_distancing_in_your_facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_BLA5</name>
        <label>Assign to BLA5</label>
        <locationX>2041</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__MaximumApprovedOccupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maximum_Approved_Occupancy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__OccupancySocialDistancing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupancy_with_Social_Distancing_Measures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__SocialDistancingPlanDesc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Describe_Your_Indoor_and_Outdoor_Social_Distancing_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_Business_Application.PublicSector__FacilitySquareFootage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_Facility_Square_Footage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_case_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vals_to_profile</name>
        <label>assign vals to profile</label>
        <locationX>1310</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>raw_business_profile.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>raw_business_account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_profile.BusinessTaxIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raw_business_profile.BusinessOperatingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Business_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_account_id</name>
        <label>set account id</label>
        <locationX>793</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>raw_business_account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_business_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_matching_business_profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_record_type_in_BLA</name>
        <label>set record type in BLA</label>
        <locationX>437</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>raw_Business_Application.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_type_for_Reopening_Permit_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reopening_Permit_Request_Screen2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>check_for_existing_business_account</name>
        <label>check for existing business account</label>
        <locationX>785</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>create_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>account does not exist</defaultConnectorLabel>
        <rules>
            <name>account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_matching_account_record_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_business_account</targetReference>
            </connector>
            <label>account exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_profile_found</name>
        <label>check profile found</label>
        <locationX>1210</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>assign_vals_to_profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>profile not found</defaultConnectorLabel>
        <rules>
            <name>profile_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discovered_business_profile_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopening_Permit_Request_scr3</targetReference>
            </connector>
            <label>profile found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BLA_Service_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>BusinessLicenseApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessType_Picklist_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AuthorizationActivityType</picklistField>
        <picklistObject>BusinessType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Get_All_Business_Types</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BusinessType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBLARecordTypes</name>
        <dataType>String</dataType>
        <displayField>RecordTypeId</displayField>
        <object>BusinessLicenseApplication</object>
        <valueField>RecordTypeId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReopeningTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__ReopeningPermitType__c</picklistField>
        <picklistObject>BusinessLicenseApplication</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>getUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Request a Reopening Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Request a Reopening Permit</label>
    <loops>
        <name>loop_for_count</name>
        <label>loop for count</label>
        <locationX>563</locationX>
        <locationY>669</locationY>
        <collectionReference>get_all_matching_accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_count_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_for_existing_business_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_account</name>
        <label>create account</label>
        <locationX>1006</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>get_all_matching_business_profile</targetReference>
        </connector>
        <inputReference>raw_business_account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Business_Profile</name>
        <label>Create Business Profile</label>
        <locationX>1497</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Reopening_Permit_Request_scr3</targetReference>
        </connector>
        <inputReference>raw_business_profile</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_case</name>
        <label>create case</label>
        <locationX>2215</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>assign_case</targetReference>
        </connector>
        <inputReference>raw_case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_BLA</name>
        <label>Create Final BLA</label>
        <locationX>2215</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputReference>raw_Business_Application</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_all_matching_accounts</name>
        <label>get all matching accounts</label>
        <locationX>561</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Address_Line1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_matching_business_profile</name>
        <label>get all matching business profile</label>
        <locationX>1016</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_profile_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>raw_business_account.Id</elementReference>
            </value>
        </filters>
        <object>BusinessProfile</object>
        <outputAssignments>
            <assignToReference>discovered_business_profile_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_business_account</name>
        <label>get_business_account</label>
        <locationX>793</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_account_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Address_Line1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_new_BLA_name</name>
        <label>get new BLA name</label>
        <locationX>2522</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>raw_Business_Application.Id</elementReference>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <outputAssignments>
            <assignToReference>newBLAName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_type_for_Reopening_Permit_Request</name>
        <label>Get Record type for Reopening Permit Request</label>
        <locationX>383</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_record_type_in_BLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reopening Permit Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUser</name>
        <label>GetCurrentUser</label>
        <locationX>194</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reopening_Permit_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Input_Regulatory_Authorisation_Type</name>
        <label>Regulatory Authorisation Type</label>
        <locationX>194</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegulatoryAuthorizationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryAuthorizationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>2390</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_new_BLA_name</targetReference>
        </connector>
        <fields>
            <name>distancing_plan_dt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Submit Social Distancing Plan&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_File_2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>raw_Business_Application.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Complete the form to request a permit to reopen a business or organization.</description>
        <name>Reopening_Permit_Request</name>
        <label>Reopening Permit Request</label>
        <locationX>343</locationX>
        <locationY>154</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_BLA</targetReference>
        </connector>
        <fields>
            <name>What_type_of_organization</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What type of business or organization are you reopening?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_or_Organization_Type</name>
            <choiceReferences>Get_All_Business_Types</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business or Organization Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reopening_Type</name>
            <choiceReferences>ReopeningTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reopening Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reopening_Date</name>
            <dataType>Date</dataType>
            <fieldText>Reopening Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Who is responsible for opening the business or organization?</description>
        <name>Reopening_Permit_Request_scr3</name>
        <label>Reopening Permit Request</label>
        <locationX>1483</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_BLA3</targetReference>
        </connector>
        <fields>
            <name>Coordinator_Name</name>
            <dataType>String</dataType>
            <fieldText>Coordinator Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Have you implemented the following health and safety precautions?</description>
        <name>Reopening_Permit_Request_Scr4</name>
        <label>Reopening Permit Request_Scr4</label>
        <locationX>1802</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_BLA4</targetReference>
        </connector>
        <fields>
            <name>Have_you_implemented_the_following_health_and_safety_precautions1</name>
            <fieldText>&lt;p&gt;Have you implemented the following health and safety precautions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Social_distancing_to_ensure_at_least_six_feet_between_employees_and_customers</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Social distancing to ensure at least six feet between employees and customers</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_protective_equipment_PPE_for_employees</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Personal protective equipment (PPE) for employees</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_temperature_and_health_screening</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Employee temperature and health screening</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cleaning_and_sanitation_of_high_traffic_commonly_used_surfaces</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Cleaning and sanitation of high-traffic, commonly used surfaces</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vulnerable_population_accommodations_such_as_special_hours_for_seniors_or_medica</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Vulnerable population accommodations such as special hours for seniors or medically vulnerable individuals</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>What is your business name, tax ID, and location?</description>
        <name>Reopening_Permit_Request_Screen2</name>
        <label>Reopening Permit Request</label>
        <locationX>499</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_Account</targetReference>
        </connector>
        <fields>
            <name>What_is_your_business_name</name>
            <fieldText>&lt;p&gt;What is your business name, tax ID, and location?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EIN</name>
            <dataType>String</dataType>
            <fieldText>Employer Identification Number (EIN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line1</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>2659</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thank_you</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your application &lt;/span&gt;{!newBLAName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; was submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>What is your plan for social distancing in your facility?</description>
        <name>What_is_your_plan_for_social_distancing_in_your_facility</name>
        <label>What is your plan for social distancing in your facility?</label>
        <locationX>1957</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_BLA5</targetReference>
        </connector>
        <fields>
            <name>What_is_your_plan_for_social_distancing_your_facility</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;What is your plan for social distancing in your facility?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Num_Facility_Square_Footage</name>
            <dataType>Number</dataType>
            <fieldText>Facility Square Footage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Maximum_Approved_Occupancy</name>
            <dataType>Number</dataType>
            <fieldText>Maximum Approved Occupancy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Occupancy_with_Social_Distancing_Measures</name>
            <dataType>Number</dataType>
            <fieldText>Occupancy with Social Distancing Measures</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Describe_Your_Indoor_and_Outdoor_Social_Distancing_Plan</name>
            <fieldText>Describe Your Indoor and Outdoor Social Distancing Plan</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>68</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>User_Input_Regulatory_Authorisation_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>business_profile_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>discovered_business_profile_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>doesBusinessProfileExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>File_Upload_In_BLA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>matching_business_profiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessProfile</objectType>
    </variables>
    <variables>
        <name>new_business_profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessProfile</objectType>
    </variables>
    <variables>
        <name>newBLAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>No</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raw_business_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>raw_Business_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>raw_business_profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessProfile</objectType>
    </variables>
    <variables>
        <name>raw_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Please enter Regulatory Authorization Type Name</description>
        <name>RegulatoryAuthorizationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test123_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>testacc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_matching_account_record_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_no_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_yes_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
