force-app/main/default/flows/PublicSector__Request_a_Training_Certificate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Continue_Adding_Courses</name>
        <label>Continue Adding Courses</label>
        <locationX>997</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Training_Certificate_Request_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_another_course</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Certificate_Request_Course_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Exists</name>
        <label>Does Account Exists</label>
        <locationX>411</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account does not exist</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccount.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_corresponding_to_Person_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <description>Let people request a training certificate.</description>
    <dynamicChoiceSets>
        <description>List all the records for Course Offering</description>
        <name>CourseOfferingRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CourseOffering</object>
        <outputAssignments>
            <assignToReference>CourseOfferingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All the values in the picklist set for Institute Name</description>
        <name>InstitutePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InstitutionName</picklistField>
        <picklistObject>TrainingCourseParticipant</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lists all the picklist values available for Business or Occupational Role</description>
        <name>RolePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicSector__BusinessOrOccupationRole__c</picklistField>
        <picklistObject>IndividualApplication</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>getUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Request a Training Certificate {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Request a Training Certificate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>869</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Training_Certificate_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Record_Types.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Record_Types.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Individual Application using the information collected</description>
        <name>Create_Individual_Application</name>
        <label>Create Individual Application</label>
        <locationX>1206</locationX>
        <locationY>75</locationY>
        <assignRecordIdToReference>IndividualApplication</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Individual_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationCaseId</field>
            <value>
                <elementReference>Create_Case_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppliedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LicenseTypeId</field>
            <value>
                <elementReference>Get_Service_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__BusinessOrOccupationRole__c</field>
            <value>
                <elementReference>Business_or_Occupational_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordCreates>
    <recordCreates>
        <description>Create a new person account</description>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>568</locationX>
        <locationY>413</locationY>
        <assignRecordIdToReference>PersonAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Person_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_User_Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Get_User_Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <description>Create a Training Course Participant using the information given by the user</description>
        <name>Create_Training_Course_Participant</name>
        <label>Create Training Course Participant</label>
        <locationX>1365</locationX>
        <locationY>447</locationY>
        <assignRecordIdToReference>TrainingCourseParticipantId</assignRecordIdToReference>
        <connector>
            <targetReference>Training_Certificate_Request_Uploade_File</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_corresponding_to_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourseOfferingId</field>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstitutionName</field>
            <value>
                <elementReference>Institution_Name</elementReference>
            </value>
        </inputAssignments>
        <object>TrainingCourseParticipant</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_corresponding_to_Person_Account</name>
        <label>Get Contact corresponding to Person Account</label>
        <locationX>737</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccount.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Id and Name of Individual Application</description>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>1363</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Training_Certificate_Request_Course_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualApplication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Person_Account</name>
        <label>Get New Person Account</label>
        <locationX>736</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_corresponding_to_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonTitle</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>68</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.Email</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonTitle</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>417</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>615</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Certificate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Emergency Service Type Record</description>
        <name>Get_Service_Type</name>
        <label>Get Service Type</label>
        <locationX>740</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegulatoryAuthorizationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryAuthorizationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>68</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person_Account_Details</name>
        <label>Update Person Account Details</label>
        <locationX>679</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Training_Certificate_Request_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>AccountAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Flow UI form for the user to fill out to apply for certification.</description>
        <name>Training_Certificate_Request</name>
        <label>Training Certificate Request</label>
        <locationX>1060</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Individual_Application</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; color: rgb(60, 64, 67);&quot;&gt;Complete this form to indicate that you received required training for your business or role.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderQuestion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: transparent; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;What category of training did you complete?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_or_Occupational_Role</name>
            <choiceReferences>RolePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business or Occupational Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Ask the user if they want to add more courses?</description>
        <name>Training_Certificate_Request_Add_More_Courses</name>
        <label>Training Certificate Request</label>
        <locationX>1097</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Adding_Courses</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_another_course</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to add another course ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Certificate_Request_Contact_Details</name>
        <label>Training Certificate Request</label>
        <locationX>816</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Person_Account_Details</targetReference>
        </connector>
        <fields>
            <name>ContactInformation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: transparent; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;What is your contact information?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountAddress</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Collect the Course Name, certifying institute, course complete date and certificate from the user</description>
        <name>Training_Certificate_Request_Course_Details</name>
        <label>Training Certificate Request</label>
        <locationX>1364</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Training_Course_Participant</targetReference>
        </connector>
        <fields>
            <name>HeaderQuestionCourseDetail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: transparent; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;What was the name of the course and when did you complete it?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_Name</name>
            <choiceReferences>CourseOfferingRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Institution_Name</name>
            <choiceReferences>InstitutePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Institution Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Summary screen</description>
        <name>Training_Certificate_Request_Summary</name>
        <label>Training Certificate Request</label>
        <locationX>475</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; color: rgb(62, 62, 60);&quot;&gt;Your application {!Get_Individual_Application.Name} was submitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Certificate_Request_Uploade_File</name>
        <label>Training Certificate Request</label>
        <locationX>1367</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Training_Certificate_Request_Add_More_Courses</targetReference>
        </connector>
        <fields>
            <name>CourseCompletionCertificate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proof of Completion Documentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IndividualApplication</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Course Offering selected by the user</description>
        <name>CourseOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id for the Individual Application</description>
        <name>IndividualApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Record Id for the Person Account</description>
        <name>PersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Regulatory Authorization Type Name</description>
        <name>RegulatoryAuthorizationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id for Training Course Participant created</description>
        <name>TrainingCourseParticipantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
