force-app/main/default/flows/PublicSector__Emergency_Assistance_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_address_fields</name>
        <label>Assign address fields</label>
        <locationX>1217</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Address.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location.LocationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Address_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application</name>
        <label>Assign Application</label>
        <locationX>297</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>SubmittedApplication.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.LicenseTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.AppliedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>License</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.ApplicationCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedApplication.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Record</name>
        <label>Assign Case Record</label>
        <locationX>852</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Fields</name>
        <label>Assign Location Fields</label>
        <locationX>898</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>Location.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Request Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Location.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visitor_Address</name>
        <label>Assign Visitor Address</label>
        <locationX>1135</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Location.VisitorAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Disabled</name>
        <choiceText>Disabled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disabled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Elderly</name>
        <choiceText>Elderly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Elderly</stringValue>
        </value>
    </choices>
    <choices>
        <name>FoodDelivery</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 14px;&quot;&gt;Food Delivery&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Food Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless</name>
        <choiceText>Homeless</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless</stringValue>
        </value>
    </choices>
    <choices>
        <name>Isolated</name>
        <choiceText>Isolated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Isolated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medicines</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 14px;&quot;&gt;Medicine / Medical Supplies Delivery&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicine / Medical Supplies Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarantined</name>
        <choiceText>Quarantined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarantined</stringValue>
        </value>
    </choices>
    <choices>
        <name>TemporaryHousing</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Temporary Housing&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Temporary Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>WellBeingCheck</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Well Being Check&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Well-Being Check</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assistance_type_decision</name>
        <label>Assistance type decision</label>
        <locationX>522</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Well Being Check</defaultConnectorLabel>
        <rules>
            <name>Assistance_type_is_Food_or_Medicine</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RequestedService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FoodDelivery</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestedService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Medicines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Location</targetReference>
            </connector>
            <label>Assistance type is Food or Medicine</label>
        </rules>
        <rules>
            <name>Assistance_type_is_Temporary_Housing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestedService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemporaryHousing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temporary_Housing</targetReference>
            </connector>
            <label>Assistance type is Temporary Housing</label>
        </rules>
    </decisions>
    <description>Creates an application and related records for an emergency assistance request.</description>
    <formulas>
        <name>getuserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Emergency Assistance Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Emergency Assistance Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address_Records</name>
        <label>Create Address Records</label>
        <locationX>1247</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Assign_Visitor_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>Address</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>171</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Get_Application_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>SubmittedApplication</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>731</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Get_Service_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Emergency_Request</name>
        <label>Create Emergency Request</label>
        <locationX>56</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PublicSector__Account__c</field>
            <value>
                <elementReference>Get_Person_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__Address__c</field>
            <value>
                <elementReference>Address.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__Contact_Address__c</field>
            <value>
                <elementReference>Contact_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__DateRequired__c</field>
            <value>
                <elementReference>DateRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__DeliveryInstructions__c</field>
            <value>
                <elementReference>DeliveryInstructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__DeliverySafetyConcerns__c</field>
            <value>
                <elementReference>DeliverySafetyConcerns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__IndividualApplication__c</field>
            <value>
                <elementReference>SubmittedApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestDetails__c</field>
            <value>
                <elementReference>AdditionalDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestReason__c</field>
            <value>
                <elementReference>RequestReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestedLengthOfStay__c</field>
            <value>
                <elementReference>RequestedLengthOfStay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestedService__c</field>
            <value>
                <elementReference>RequestedService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestedStartDateOfStay__c</field>
            <value>
                <elementReference>RequestedStartDateOfStay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicSector__RequestorName__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PublicSector__EmergencyRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>1042</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Assign_address_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>Location</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Id</name>
        <label>Get Application Id</label>
        <locationX>56</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Emergency_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmittedApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>239</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Assistance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>438</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency_Assistance_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Type</name>
        <label>Get Service Type</label>
        <locationX>598</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedService</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryAuthorizationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>106</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getuserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location_Record</name>
        <label>Update Location Record</label>
        <locationX>1010</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Assign_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Emergency_Assistance_Request_Error_Page</targetReference>
        </faultConnector>
        <inputReference>Location</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>884</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Location_Fields</targetReference>
        </connector>
        <fields>
            <name>Contact_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;What is your contact information?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Phone}, &quot;(\\d){4,10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;you@example.com&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z-]{1,}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Address</name>
            <fieldText>Contact Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Location</name>
        <label>Delivery Location</label>
        <locationX>845</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Header_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;How do we get supplies to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delivery_Address</name>
            <fieldText>Delivery Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliveryInstructions</name>
            <fieldText>Additional Delivery Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliverySafetyConcerns</name>
            <fieldText>Delivery Health and Safety Concerns</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Assistance_Request_Error_Page</name>
        <label>Emergency Assistance Request Error Page</label>
        <locationX>50</locationX>
        <locationY>961</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;Hmm, that didn’t work. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>187</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your application {!Get_Application_Id.Name} was submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Temporary_Housing</name>
        <label>Temporary Housing</label>
        <locationX>659</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Header_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;When do you need temporary housing?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestedStartDateOfStay</name>
            <dataType>Date</dataType>
            <fieldText>What is the requested start date for your stay?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;MMM d, yyyy&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RequestedLengthOfStay</name>
            <dataType>Number</dataType>
            <fieldText>What is the requested length of stay?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;A value is required.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!RequestedLengthOfStay} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Assistance</name>
        <label>Type of Assistance</label>
        <locationX>380</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assistance_type_decision</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Roboto, sans-serif; color: rgb(60, 64, 67); background-color: rgb(255, 255, 255);&quot;&gt;We&apos;re here for you during challenging times. &lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Please submit your request below if you need support and are unable to get help via other community resources and venues.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;What type of assistance can we provide?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestedService</name>
            <choiceReferences>FoodDelivery</choiceReferences>
            <choiceReferences>Medicines</choiceReferences>
            <choiceReferences>TemporaryHousing</choiceReferences>
            <choiceReferences>WellBeingCheck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestReason</name>
            <choiceReferences>Quarantined</choiceReferences>
            <choiceReferences>Isolated</choiceReferences>
            <choiceReferences>Disabled</choiceReferences>
            <choiceReferences>Elderly</choiceReferences>
            <choiceReferences>Homeless</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why do you need emergency assistance?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdditionalDetails</name>
            <fieldText>Additional Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DateRequired</name>
            <dataType>Date</dataType>
            <fieldText>Date Required</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;MMM d, yyyy&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>PersonRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmittedApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
</Flow>
