force-app/main/default/flows/tspa__VRA_Trigger_Retrieval_of_Session_Recording.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VRA_Retrieve_session_Recordings</name>
        <label>VRA Retrieve session Recordings</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <actionName>tspa__GetRecordingBySessionIdandRefrenceId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_trough_recordings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortOrder</name>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>tspa__GetRecordingBySessionIdandRefrenceId</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>GetRecordingDataCollection</assignToReference>
            <name>sessionRecordings</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_2</name>
        <label>Is Recording already created</label>
        <locationX>638</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Loop_trough_recordings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_created_Recording.tspa__Recording_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recording</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recording_Turned_On</name>
        <label>Is Recording Turned On</label>
        <locationX>550</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Turned_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Settings.tspa__Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VRA_Retrieve_session_Recordings</targetReference>
            </connector>
            <label>Turned On</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VRA Trigger Retrieval of Session Recording {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VRA Get Session Recording</label>
    <loops>
        <name>Loop_trough_recordings</name>
        <label>Loop trough recordings</label>
        <locationX>418</locationX>
        <locationY>600</locationY>
        <collectionReference>GetRecordingDataCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_created_Recording</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recording</name>
        <label>Create Recording</label>
        <locationX>506</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Loop_trough_recordings</targetReference>
        </connector>
        <inputReference>Loop_trough_recordings</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_created_Recording</name>
        <label>Get created Recording</label>
        <locationX>638</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Recording_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_trough_recordings.tspa__Recording_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__Visual_Remote_Assistant_Recording__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tspa__Recording_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settings</name>
        <label>Get Settings</label>
        <locationX>550</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Recording_Turned_On</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SessionRecording</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__InviteTechSeeConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>tspa__Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>tspa__Session_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Session_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Two-way Video</stringValue>
            </value>
        </filters>
        <filters>
            <field>tspa__Is_Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tspa__Visual_History__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_Minutes_after_creation</name>
            <connector>
                <targetReference>Get_Settings</targetReference>
            </connector>
            <label>5 Minutes after creation</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetRecordingData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Remote_Assistant_Recording__c</objectType>
    </variables>
    <variables>
        <name>GetRecordingDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tspa__Visual_Remote_Assistant_Recording__c</objectType>
    </variables>
    <variables>
        <name>reference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
